.description-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 120px 120px 10px;
}

.description-section img {
  height: 392px;
  width: 584px;
}

.description-section div {
  width: 40%;
}

.description-section div h2 {
  font-size: 28px;
  font-weight: 500;
  line-height: 32px;
  margin-bottom: 30px;
  width: 60%;
}

.description-section div h2,
.description-section div p {
  color: #3d3d3d;
  text-align: left;
  margin-bottom: 40px;
}

.description-section div p span {
  font-weight: 500;
  text-decoration: underline;
  font-size: 16px;
  line-height: 24px;
}

.description-section div p span,
.description-section div a {
  color: #5e20a4;
  font-size: 16px;
  text-align: center;
}

.description-section div a {
  margin-top: 25px;
  font-weight: 500;
}

.description-section img {
  width: 584px;
  height: 392px;
}

@media screen and (max-width: 540px) {
  .description-section {
    align-items: center;
    flex-direction: column-reverse;
    padding: 0;
  }

  .description-section img {
    height: 204px;
    margin-bottom: 20px;
    margin-top: 50px;
    width: 304px;
  }

  .description-section div {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    width: 100%;
  }

  .description-section div h2,
  .description-section div p {
    font-size: 22px;
    text-align: center;
    width: 100%;
  }

  .description-section div h2 {
    box-sizing: border-box;
    margin-bottom: 25px;
    padding: 0 60px;
  }

  .description-section div p {
    font-size: 16px;
    margin-bottom: 25px;
  }

  .description-section div a {
    margin-top: 0;
  }
}
