.description-section {
  /* align-items: center; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 120px 120px 10px;
}

.description-section img {
  height: 392px;
  width: 584px;
}

.description-section div {
  width: 40%;
}

.description-section div h3 {
  font-size: 28px;
  font-weight: 500;
  line-height: 32px;
  margin-bottom: 30px;
  width: 60%;
}

/* .description-section div p {
  text-align: left;
} */

.description-section div h3,
.description-section div p {
  color: #3D3D3D;
  text-align: left;
  margin-bottom: 40px;
}

.description-section div p span,
.description-section div a {
  color: #5E20A4;
  font-size: 16px;
  text-align: center;
}

.description-section div a {
  margin-top: 25px;
  /* margin-bottom: 55px; */
}
