.header-section {
  background: url('../../assets/header-icons/header-background.png'),
    linear-gradient(90deg, #3f0063, #bc00eb) no-repeat;
  background-size: cover;
  height: 616px;
  width: 100%;
}

.page-presentation {
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin-top: 80px;
}

.page-presentation div {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.page-presentation div h1 {
  font-size: 40px;
  font-weight: 500;
  line-height: 48px;
  margin-bottom: 30px;
}

.page-presentation div p {
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 50px;
}

.page-presentation div .header-action {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 47%;
}

.header-action img {
  height: 48px;
  width: 48px;
}

.header-action a {
  font-size: 16px;
}
