.example-section {
  align-items: center;
  background-color: white;
  border-bottom: 1px solid #dfdfdf;
  color: black;
  display: flex;
  justify-content: center;
  padding: 25px 20px;
}

.example-section img {
  border: 4px solid white;
  height: 56px;
  margin-right: 20px;
  margin-bottom: 10px;
  width: 56px;
}

.example-section p {
  font-weight: 500;
}

.example-section p:first-of-type {
  color: #5E20A4;
  margin-right: 5px;
  font-size: 16px;
  line-height: 24px;
  text-decoration: underline;
}

.example-section p:last-of-type {
  color: black;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

@media screen and (max-width: 540px) {

  .example-section {
    flex-direction: column;
    padding: 25px 25px;
  }

  .example-section p {
    margin: 0;
    text-align: center;
  }

  .example-section p:first-of-type {
    margin-bottom: 10px;
  }
}
